<!DOCTYPE html>
<html lang="en">
    <head> <!-- Start of header -->
        <meta charset="utf-8">
        {% if title %}
            <title>{{title}}</title>
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {%else%}
            <title>Welcome!</title>
        {%endif%}

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.dataTables.min.css')}}"> <!-- dataTables CSS -->
        <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='js/jquery-3.7.0.min.js')}}"></script>
        <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
        <style>
            body {
              padding: 0px;
              background-color: #212529;
              font-size: 18px;
            }
        </style>
      </head> <!-- End of header -->
    <body>
        {% block container %}{% endblock %}


    </body>
</html>