{% extends "home.html" %}

{% block contents %}

<div class="form">
    <div class="container-fluid container-md mt-lg-5 dark">

        <form method="POST" action="{{url_for('main.change_password_post')}}">
            <div class="form-outline">
              <div class="mx-auto my-1 col-md-3">
                    <input class="form-control" type="password" name="old_password" placeholder="Old Password" autofocus="" />
                </div>
                <div class="mx-auto my-1 col-md-3">
                    <input class="form-control"  type="password" name="password" placeholder="New Password">
                </div>
              <div class="mx-auto my-1 col-md-3">
                    <input class="form-control"  type="password" name="confirm_password" placeholder="Confirm Password">
                </div>
                <div class="col-md-12 my-3 text-center">
                    <button type="submit" class="btn btn-outline-danger">Change Password</button>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-dark">
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
        </form>
    </div>
</div>

{% endblock %}