{% extends "home.html" %}

{% block contents %}

<div class="form">
    <div class="container-fluid container-md mt-lg-5 dark">

        <form method="POST" action="{{url_for('main.download_post')}}">
            <div class="form-outline">
              <select name="hostname" id="hostname" class="form-select" aria-label="hostname">
                  <option selected>Select a host...</option>
                  {% for host in hostnames %}
                    <option value="{{ host.hostname }}">{{ host.hostname }}</option>
                  {% endfor %}
                </select>
                <div class="mx-auto" style="padding-top: 10px;">
                    <input class="form-control"  type="text" name="filename" placeholder="File to Download (Full Path)">
                </div>
                <div class="col-md-12 my-3 text-center">
                    <button type="submit" class="btn btn-outline-danger">Download File</button>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
        </form>
    </div>
</div>

{% endblock %}