{% extends "base.html" %}

{% block container %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.home') }}" >hollowRiver>_</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-2">
          <a class="nav-link active" aria-current="page" href="{{ url_for('main.home') }}">Home</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="{{ url_for('main.hosts') }}">Hosts</a>
        </li>
          <li class="nav-item px-2">
          <a class="nav-link" href="{{ url_for('main.output') }}">Output</a>
        </li>
        <li class="nav-item px-2 dropdown" data-bs-theme="dark">
          <a class="nav-link dropdown-toggle" href="#" id="tasksDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tasks
          </a>
          <ul class="dropdown-menu" aria-labelledby="tasksDropdown">
            <li><a class="dropdown-item" href="{{ url_for('main.tasks') }}">View Tasks</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('main.run_command') }}">Run Command</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.upload') }}">Upload Task</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.download') }}">Download Task</a></li>
          </ul>
        </li>
        <li class="nav-item px-2 dropdown" data-bs-theme="dark" >
          <a class="nav-link dropdown-toggle" href="#" id="accountsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accounts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('main.add_user') }}">Manage Users (Admin)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('main.change_password') }}">Change Password</a></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% block contents %}{% endblock %}

{% endblock %}

