{% extends "home.html" %}

{% block contents %}

<div class="container-fluid remove-all-margin-padding" id="hostsTable">
    <table class="table table-dark">
        <thead>
            <tr>
              <th scope="col">Last Beacon Date (UTC)</th>
              <th scope="col">Hostname</th>
              <th scope="col">Operating System</th>
              <th scope="col">CPU Architecture</th>
              <th scope="col">Domain/Username</th>
              <th scope="col">External IP</th>
            </tr>
      </thead>
        <tbody>
            {% for host in hosts %}
            <tr>
                {% if not host['date'] %}
                <td class="text-danger"> {{ host['date'] }} </td>
                {% else %}
                <td class="text-success"> {{ host['date'] }} </td>
                {% endif %}>
                <td>{{ host.hostname }}</td>
                <td>{{ host.os }} </td>
                <td>{{ host.architecture }}</td>
                <td>{{ host.account }}</td>
                <td>{{ host.external_ip }}</td>
            </tr>
        {%  endfor %}
      </tbody>
    </table>


{% endblock %}