{% extends "base.html" %}

{% block container %}

<div class="form">
    <div class="container-fluid container-md mt-lg-5 dark">
        <form method="POST" action="/login">
            <div class="form-outline">
                <div class="mx-auto my-1 col-md-3">
                    <input class="form-control" type="text" name="username" placeholder="Your Username" autofocus="" />
                </div>
                <div class="mx-auto my-1 col-md-3">
                    <input class="form-control"  type="password" name="password" placeholder="Your Password">
                </div>
                <div class="col-md-12 my-3 text-center">
                    <button type="submit" class="btn btn-outline-danger">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}