{% extends "home.html" %}

{% block contents %}

<div class="container-fluid remove-all-margin-padding" id="outputsTable">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tasked By</th>
                <th scope="col">Hostname</th>
                <th scope="col">Action</th>
                <th scope="col">Secondary</th>
                <th scope="col">Output</th>
                <th scope="col">Executed</th>
            </tr>
      </thead>
        <tbody>
            {% for output in output_info %}
            <tr>
                <td>{{ output.id }}</td>
                <td>{{ output.username }}</td>
                <td>{{ output.hostname }} </td>
                <td>{{ output.action }}</td>
                <td>{{ output.secondary }}</td>
                {% if output['stdout'] %}
                    <td class="text-success"><a href="{{ url_for('main.view_output', id=output.id, output_type='stdout')}}">stdout</a></td>
                {% elif output['stderr'] %}
                    <td class="text-success"><a href="{{ url_for('main.view_output', id=output.id, output_type='stderr')}}">stderr</a></td>
                {% elif output['action'] == 'upload' and output['status'] == 'Y' %}
                    <td class="text-success">Upload Complete</td>
                {% elif output['action'] == 'download' and output['status'] == 'Y' %}
                    <td class="text-success">Download Complete</td>
                {% else %}
                    <td class="text-warning"><a href="{{ url_for('main.tasks') }}">Pending...</a></td>
                {% endif %}>
                    <td>{{ output.status }}</td>

            </tr>
        {%  endfor %}
      </tbody>
    </table>


{% endblock %}