{% extends "home.html" %}

{% block contents %}

<div class="container-fluid remove-all-margin-padding" id="tasksTable">
    <table class="table table-dark">
        <thead>
            <tr>
              <th scope="col">Task ID</th>
              <th scope="col">Tasked By</th>
              <th scope="col">Hostname</th>
              <th scope="col">Task Action</th>
              <th scope="col">Task Secondary</th>
            </tr>
      </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td><a type="submit" class="btn btn-danger btn-xs" href="{{ url_for('main.delete_task', id=task.id) }}">Delete Task</a></td>
                <td>{{ task.username }}</td>
                <td>{{ task.hostname }} </td>
                <td>{{ task.action }}</td>
                <td>{{ task.secondary }}</td>


            </tr>
        {%  endfor %}
      </tbody>
    </table>


{% endblock %}