{% extends "home.html" %}

{% block contents %}

{% if output_data['stdout'] %}
    <div class="card">
        <div class="card-body">
            <pre>
                {{ output_data['stdout'] }}
            </pre>
        </div>
    </div>
{% elif output_data['stderr'] %}

    <div class="card">
        <div class="card-body">
            <pre>
                {{ output_data['stderr'] }}
            </pre>
        </div>
    </div>
{% else %}
    <div class="text-danger">There may have been an error in execution.</div>
{% endif %}

{% endblock %}